<h1>Super Powers</h1>

<div class="container">
    <div class="row mt-1">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Click To Update</th>
                    <th>Click To Delete</th>
                </tr>
            </thead>
            <tbody *ngIf="superpowers.length > 0; else noActivity">
                <tr *ngFor="let superpower of superpowers">
                    <td>{{superpower.id}}</td>
                    <td>{{superpower.name}}</td>
                    <td>{{superpower.description}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/superpower-update']" [queryParams]="{ id: superpower.id }"
                        >Update</a></td> 
                    <td><a routerLinkActive="active" [routerLink]="['/superpower-delete']" [queryParams]="{ id: superpower.id }"
                        >Delete</a></td>                        
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No super heroes available
        </ng-template>
    </div>
</div>