<div class="row m-2 col-4 w-25">
    <img src="/assets/images/addcat.jpg">
    <form>
        <label class="mt-3">Name</label>
        <input class="form-control" name="name" id="name" #nameValue="ngModel" [(ngModel)]="name" autofocus required>
        <label>Description</label>
        <input class="form-control" name="description" id="description" #descriptionValue="ngModel" [(ngModel)]="description" required>
    </form>
    <button *ngIf="nameValue.valid && descriptionValue.valid" class="btn btn-dark mt-2" (click)="onClickAddButton()">Add</button>
</div>
