<h1>Super Heroes</h1>
<div class="container row ms-2 mt-3 col-6">
    <span class="form-control input-group">
        <label>Filter By Power Id</label>
        <input class="form-control ms-1" name="powerId" id="powerId" [(ngModel)]="powerId" required>
        <button class="btn btn-dark" (click)="onClickSearchButton()">Search</button>            
    </span>
</div>

<div class="container">

    <div class="row mt-1">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Click For Details</th>
                    <th>Click To Delete</th>
                </tr>
            </thead>
            <tbody *ngIf="superheroes.length > 0; else noActivity">
                <tr *ngFor="let superhero of superheroes">
                    <td>{{superhero.id}}</td>
                    <td>{{superhero.name}}</td>
                    <td>{{superhero.nickname}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/superhero-details']" [queryParams]="{ id: superhero.id }"
                        >Details</a></td>
                    <td><a routerLinkActive="active" [routerLink]="['/superhero-delete']" [queryParams]="{ id: superhero.id }"
                        >Delete</a></td>                        
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No super heroes available
        </ng-template>
    </div>
</div>