div {
  background-image: conic-gradient(white, grey, darkgrey);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin-top: 2rem;
}

.table {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: space-between;
}

.form-control label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.form-control input {
  flex: 1;
  margin-right: 1rem;
}

.btn-dark {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
}

.btn-dark:hover {
  background-color: #23272b;
  border-color: #1d2124;
  color: white;
}

.active {
  font-weight: bold;
}

.no-activity {
  font-style: italic;
  text-align: center;
}