<div class="container">
    <div *ngIf="submitted == false" class="row m-2 col-4">
        <form (submit)="onSubmit()" ngNativeValidate>
            <h4>Application</h4>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" #nameValue="ngModel" [(ngModel)]="name" autofocus
                    required>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name="phone" #phoneValue="ngModel" [(ngModel)]="phone"
                pattern="^(1\s?)?(\d{3}|\(\d{3}\))[\s\-]?\d{3}[\s\-]?\d{4}$" required>
            </div>
            <div class="form-group">
                <label>Qualifications</label>
                <textarea class="form-control" name="qualifications" #qualificationsValue="ngModel" [(ngModel)]="qualifications" required></textarea>
            </div>
            <button *ngIf="nameValue.valid && phoneValue.valid" class="btn btn-dark mt-2" type="submit">Submit</button>
            <div *ngIf="nameValue.invalid && (nameValue.dirty || nameValue.touched)">
                <div *ngIf="nameValue.errors?.['required']">
                    Name is required.
                </div>
            </div>
            <div *ngIf="phoneValue.invalid && (phoneValue.dirty || phoneValue.touched)">
                <div *ngIf="phoneValue.errors?.['pattern']">
                    Valid phone number is required.
                </div>
                <div *ngIf="phoneValue.errors?.['required']">
                    Phone number is required.
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="submitted == true" class="row m-2 col-4">
        <h1 class="text-danger m-2 ">No positions avaiable</h1>
    </div>
</div>