<div class="row m-2 col-4">
    <label>Name of superpower</label>
    <input class="form-control" name="name" id="name" [(ngModel)]="name" autofocus required>
    <label>Description</label>
    <input class="form-control" name="description" id="description" [(ngModel)]="description" required>
    <button class="btn btn-dark" (click)="onClickSaveButton()">Save</button>
</div>
