<div *ngIf="superhero != undefined" class="container row m-3">
    <h1 class="mb-3">{{superhero.name}} Details</h1>
    <h2>Nickname: <u><i>{{superhero.nickname}}</i></u></h2>
    <p class="m-0"><b>TelephoneNumber:</b> {{superhero.telephoneNumber}}</p>
    <p class="m-0"><b>DateOfBirth:</b> {{superhero.dateOfBirth | date:'fullDate'}}</p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img [src]="'./assets/images/' + superhero.id + '.png'" class="img-fluid">
        </div>
        <div class="col-md-8">
            <p class="m-0"><b>Superpowers</b></p>
            <div class="container">
                <div class="row mt-1">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="superhero != null && superhero.superpowers != null && superhero.superpowers.length > 0; else noActivity">
                            <tr *ngFor="let superpower of superhero.superpowers">
                                <td>{{superpower.id}}</td>
                                <td>{{superpower.name}}</td>
                                <td>{{superpower.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noActivity>
                        No super heroes available
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark mx-5" (click)="onClickUpdateButton()">Update</button>
