.container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #ccc;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin: 10px 0;
  }
  
  table {
    margin-top: 20px;
  }
  
  th {
    font-weight: bold;
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  