<main>
    <div class="container m-3">
        <body>
            <h1>Welcome to the Superhero Registration System</h1>

            <p>{{intro}}</p>
            <p>{{details}}</p>

            <div class="container-fluid px-1 py-5 mx-auto">
                <h2>New Superheroes</h2>
                <p>Check out our latest superheroes who have registered with us:</p>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
                  <div class="col mb-4" *ngFor="let superhero of superheroes">
                    <div class="card h-100 text-center">
                                        <img class="card-img-top img-thumbnail mx-auto" [src]="'./assets/images/' + superhero.id + '.png'" alt="{{ superhero.name }}"/>
                        <div class="row d-flex">
                            <div class="d-flex flex-column">
                                <h4 class="mt-2 mb-0">{{ superhero.name }}</h4>
                                <div>
                                    <p class="text-left">
                                        <span class="text-muted">5.0</span> 
                                        <span class="fa fa-star ml-3"></span> 
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span> 
                                        <span class="fa fa-star"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <h5 class="mt-1">{{ superhero.nickname }}</h5>
                                <p class="text-muted">{{ superhero.id }}</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <p>{{conclusion}}</p>
        </body>
    </div>
</main>