main {
    background-color: #f8f9fa;
  }
  h1 {
    margin-top: 1rem;
  }
  .card {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
  }
  h4, h5 {
    color: #007bff;
    font-size: 1.2rem;
  }
  p {
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-size: 1.1rem;
  }
  .img-thumbnail {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
  }