<h1>Categories</h1>

<div class="container">
    <div class="row mt-1">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Click To Update</th>
                    <th>Click To Delete</th>
                </tr>
            </thead>
            <tbody *ngIf="categories.length > 0; else noActivity">
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td><a routerLinkActive="active" [routerLink]="['/category-update']" [queryParams]="{ id: category.id }"
                        >Update</a></td> 
                    <td><a routerLinkActive="active" [routerLink]="['/category-delete']" [queryParams]="{ id: category.id }"
                        >Delete</a></td>                        
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No categories available
        </ng-template>
    </div>
</div>