<footer class="text-bg-dark bg-dark mt-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40">
                    <h5 class="widget_title">Office Hours *</h5>
                    <div class="textwidget">
                        <p>Mon 6am-9pm<br>
                            Tues &amp; Wed 6am-9pm<br>
                            Thurs 6am-9pm<br>
                            Fri 6am-10pm<br>
                            Sat 9am-8pm<br>
                            Sun 9am-5pm</p>
                        <p>Closed all major recognized holidays.<br>
                            * Staffed 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix widget_text text-3">
                    <h5 class="widget_title">Contact Information</h5>
                    <div class="textwidget">
                        <p>555 W 10 Mile Road<br>
                            Novi, MI 48374<br>
                            Tel: (555) 555-8770<br>
                            Email: info@animalhotel.com</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix widget_text text-4">
                    <h5 class="widget_title">Careers</h5>
                    <div class="textwidget">
                        <p><a routerLink="/application">Fill out an application</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget m-b-40 clearfix zoom-social-icons-widget zoom-social-icons-widget-2">
                    <h5 class="widget_title">Follow us</h5>
                    <section class=" textwidget d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                        <!-- Left -->
                        <div class="me-5 d-none d-lg-block">
                            <span>Get connected with us on social networks:</span>
                        </div>
                        <!-- Left -->

                        <!-- Right -->
                        <div>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-google"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        </div>
                        <!-- Right -->
                    </section>
                    <!-- Section: Social media -->
                </div>
            </div>
        </div>
    </div>
</footer>