<div class="row m-2 col-4">
    <img class="w-50" src="/assets/images/updatesh.jpg">
    <form>
      <label class="mt-3 myLabel">Name</label>
      <input class="form-control" name="name" id="name" [(ngModel)]="superhero.name" autofocus required>
      <label class="myLabel">Nickname</label>
      <input class="form-control" name="nickname" id="nickname" [(ngModel)]="superhero.nickname" required>
      <label class="myLabel">Phone #</label>
      <input class="form-control" name="telephoneNumber" id="telephoneNumber" [(ngModel)]="superhero.telephoneNumber" required>
      <label class="myLabel">Date of birth</label>
      <input type="Date" class="form-control" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="superhero.dateOfBirth" required>
  
      <label class="mt-3 myLabel"><u>Superpowers</u></label> <br>
      <div class="form-check form-check-inline" *ngFor="let superpower of superpowers; let i = index;">
        <input class="form-check-input" type="checkbox" name="superpower{{i}}" id="superpower{{i}}" [value]="superpower.id"
          (change)="onChangeSuperpower($event, superpower)" [checked]="selectedSuperpowers.includes(superpower.id)">
        <label class="form-check-label" for="superpower{{i}}">{{superpower.name}}</label>
      </div>
    </form>
    <button class="btn btn-dark" (click)="onClickSaveButton()">Save</button>
  </div>
  