<div class="row m-2 col-4">
    <form *ngIf="category != undefined">
        <label class="myLabel">Name of category</label>
        <input class="form-control" name="name" id="name" [(ngModel)]="name" autofocus required>
        <label class="myLabel">Description</label>
        <input class="form-control" name="description" id="description" [(ngModel)]="description" required>
        <label class="mt-3 myLabel"><u>Superpowers</u></label> <br>
        <div class="form-check form-check-inline" *ngFor="let superpower of superpowers; let i = index;">
          <input class="form-check-input" type="checkbox" name="superpower{{i}}" id="superpower{{i}}" [value]="superpower.id"
            (change)="onChangeSuperpower($event, superpower)" [checked]="selectedSuperpowers.includes(superpower.id)">
          <label class="form-check-label" for="superpower{{i}}">{{superpower.name}}</label>
        </div>
        <br>
        <button class="btn btn-dark" (click)="onClickSaveButton()">Save</button>
    </form>

</div>
