/* .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
  } */
  
  .myLabel {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* input[type="text"],
  input[type="tel"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    border: none;
  }
  
  button:hover {
    background-color: #da251d;
  } */
  
  img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    border: 5px solid white;
  }
  