<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/"><img class="rounded w-50" src="./assets/images/top.webp" alt="Animal pictures"></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superheroes">Superheroes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superhero-add">Add a Superhero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superpowers">Superpowers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/superpower-add">Add a Superpower</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/category-add">Add a Category</a>
            </li>

        </ul>
    </div>
</nav>