<div *ngIf="category != undefined" class="container">
    <div class="row m-3 col-8">
        <h1 class="text-danger">Are you sure?</h1>
        <h1 class="text-danger">The following superhero will be removed!</h1>
        <h2  class="mt-3">Name: {{category.name}}</h2>
        <h2  class="mt-3">Description: {{category.description}}</h2>
    </div>
    <div class="row ms-5 col-3">
        <button class="btn btn-dark mt-3" (click)="onClickDeleteButton()">Delete</button>
    </div>
</div>
